*.DS_Store
*.pyc
*_client.py
.*.swp
.coverage
.deploy
.editorconfig
.idea
.requirements.txt
.vagrant*
*.errors
/venv
api_lint.txt
coverage-report
coverage.xml
db_dump
docs/_build
nosetests.xml
pylintrc
tags
release_notes/*.txt
